* {
	box-sizing: border-box;
}

body {
	background-image: url("bart-bartsimpson.gif");
	color: white;
	margin: 20px;
}

header {
	display: flex;
	max-height: 100px;
	flex-direction: row;
	justify-content: space-between;
}

nav > a{
	color: white;
}

main {
	display:flex;
	flex-direction: row;
}

article {
	border: 2px ridge #B00B5D;
	flex-basis: 70%;
	padding: 5px;
}

aside {
	flex-basis: 15%;
}

aside > div {
	margin: 5px;
}

div.history {
	background-color: #E0D1A3;
	color: #441;
	padding: 10px;
}

div.importantlist {
	background-color: #55ADFF;
	border: 1px solid #399;
	color: white;
	padding: 3px;
	text-decoration: underline;
	text-decoration-color: #88DDFF;
	box-shadow: 1px 1px 1px black, -1px -1px 1px black;
}

div.slidercontainer {
	background-color: purple;
	border: 3px dashed pink;
	height: 35px;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	width: 100%;
}

.importantlist li > div.subimage {
	background-color: purple;
	border: 3px dashed pink;
	display: none;
	height: 200px;
	position: absolute;
	width: 200px;
}

.importantlist li:hover > div.subimage {
	display: block;
}

#absoluteraymou {
	background-image: url("reymou.gif");
	background-size: contain;
	color: grey;
	font-size: 2em;
	font-weight: bold;
	height: 200px;
	vertical-align: bottom;
	width: 200px;
}

#my {
	background-color: #FF88AA;
	border: 2px solid #EA5591;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	padding: 10px;
}


#slider {
	font-weight: bold;
	height: 35px;
	position: absolute;
}

#slider img{
	vertical-align: middle;
}
